@model List<Tariff>
@{ 
    int order = 0;
}

<div class="content-wrapper pb-0">
    <div class="py-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Tariffs:</h1>
            <a asp-action="create" asp-controller="tariff" asp-area="manage" class="btn btn-primary">Create</a>
        </div>
        <table id="example"  class="table table-striped table-hover table-bordered " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>Islocal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Tariff tariff in Model)
                {
                    order++;

                    <tr>
                        <td>@order</td>
                        <td>@tariff.Weight</td>
                        <td>@tariff.Price</td>
                        <td>@tariff.IsLocal</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@tariff.Id" class="btn btn-success">Edit</a>
                            <a asp-action="deletefetch" asp-route-id="@tariff.Id" class="btn btn-danger btn-sweet-delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>