@model ShopViewModel

        <div class="main-container">
            <!-- Currency -->
            <div class="shop">
                <div class="block">
                    <div class="block-header">
                        <h2 class="block-title">MAĞAZALAR</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-action="index" asp-controller="home">Ana səhifə</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <span>Mağazalar</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 col-12">
                                <div class="card card card-sidebar">
                                    <ul class="nav flex-column">
                                        <li class="nav-item" data-target-item="all">
                                            <a href="#" target="_self" class="nav-link active">
                                                <span class="nav-icon">
                                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M4.80439 0.998403C4.52449 0.99907 4.24458 0.999736 3.96467 0.999736H1.51149C0.605797 1.00573 0 1.60553 0 2.50523C0 4.16068 0 5.82212 0.00599799 7.47157C0.00599799 8.2813 0.629789 8.91109 1.43952 8.91109C3.10096 8.91708 4.7684 8.91708 6.42985 8.91109C7.30555 8.91109 7.91735 8.30529 7.91735 7.42958C7.92335 5.76814 7.92335 4.1007 7.91735 2.43925C7.91735 1.62353 7.29356 1.00573 6.48383 0.999736C5.92402 0.995737 5.3642 0.99707 4.80439 0.998403ZM10.0826 2.46268V4.95785V7.45301C10.0826 8.29273 10.7003 8.91652 11.5401 8.91652H16.5304C17.3761 8.91652 17.9999 8.29873 17.9999 7.45901V2.46868C17.9999 1.62896 17.3821 1.00517 16.5424 1.00517H11.5521C10.7063 1.00517 10.0826 1.62297 10.0826 2.46268ZM7.92339 15.0645V17.5356C7.92339 18.3754 7.2996 18.9992 6.45988 18.9992H1.46955C0.629834 18.9992 0.0120404 18.3814 0.00604239 17.5356V12.5453C0.00604239 11.7056 0.629834 11.0878 1.46955 11.0818H6.45988C7.2996 11.0818 7.91739 11.6996 7.92339 12.5453V15.0645ZM10.0826 14.9988C10.0826 17.2301 11.828 18.9995 14.0412 18.9995C16.2305 18.9995 17.9939 17.2361 17.9999 15.0468C18.0059 12.8755 16.2485 11.0881 14.1012 11.0821C11.87 11.0761 10.0886 12.8155 10.0826 14.9988Z"
                                                              fill="#9B9B9B"></path>
                                                    </svg>
                                                </span>
                                                Bütün kateqoriyalar
                                            </a>
                                        </li>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <li class="nav-item" data-target-item="@category.Id">
                                                <a asp-action="category" asp-controller="shop" asp-route-id ="@category.Id" target="_self"
                                                   class="nav-link">
                                                    <span class="nav-icon">
                                                        <svg width="18" height="18"
                                                             viewBox="0 0 18 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 5.28022C0 5.26921 0 5.2582 0 5.24719C0.86422 4.38837 1.72294 3.52404 2.58716 2.66521C2.7578 2.49455 2.93945 2.33489 3.13761 2.20277C3.71009 1.81189 4.33761 1.54213 5.0422 1.5091C5.4055 1.49258 5.76881 1.5036 6.13211 1.5036C6.40734 1.5036 6.37982 1.47607 6.39633 1.75684C6.40183 1.82841 6.41284 1.89447 6.42936 1.96604C6.63303 3.12215 7.59083 4.0085 8.75229 4.11861C9.93028 4.22871 11.0642 3.52404 11.455 2.41197C11.5541 2.1312 11.5927 1.8229 11.6642 1.5036C11.9945 1.5036 12.3523 1.5091 12.7101 1.5036C13.6569 1.48708 14.4826 1.83391 15.1761 2.4505C15.8642 3.0671 16.4972 3.74975 17.1523 4.39938C17.4385 4.68015 17.7248 4.96092 18 5.23068C16.9872 6.24915 15.9908 7.24011 14.9725 8.25858C14.7523 8.03287 14.5211 7.79614 14.2569 7.52088C14.2569 10.5488 14.2569 13.5216 14.2569 16.5C10.745 16.5 7.25505 16.5 3.74862 16.5C3.74862 13.5106 3.74862 10.5378 3.74862 7.56492C3.73211 7.55391 3.7156 7.5484 3.70459 7.53739C3.4789 7.77962 3.25872 8.02186 3.02752 8.26959C2.97248 8.22005 2.94495 8.19803 2.92294 8.176C2.44404 7.69704 1.95963 7.21258 1.48073 6.73362C0.985321 6.24915 0.489908 5.76469 0 5.28022Z"
                                                                  fill="#9B9B9B"></path>
                                                        </svg>
                                                    </span>
                                                    @category.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9 col-12">
                                <div>
                                    <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                                        <li class="nav-item">
                                            <a data-target="1" href="#" class="nav-link active">
                                                <img src="~/assets/images/tr-circle.svg" alt=""
                                                     class="card-tabs-nav-icon">
                                                <span class="card-tabs-nav-title">
                                                    Türkiyə
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item card-tabs">
                                            <a data-target="2" href="#" class="nav-link">
                                                <img src="~/assets/images/usa-circle.svg" alt=""
                                                     class="card-tabs-nav-icon">
                                                <span class="card-tabs-nav-title">Amerika</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="store-list">
                                    <div data-id="1" class="active active-tab tab-pane">
                                        <div class="row">
                                            @foreach (var shopItem in Model.ShopItems)
                                            {
                                                <div class="col-md-6 col-lg-4 col-6 item-box" data-item="@shopItem.CategoryId">
                                                    <a href=" @shopItem.RedirectUrl"
                                                       target="_blank" class="store-item">
                                                        <article class="card">
                                                            <img src="~/assets/images/@shopItem.Image"
                                                                 alt="Odak Pazar-dən çatdırılma" class="card-img"
                                                                 style="width: 70%;">
                                                        </article>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
